/*index title font*/
.h {
    border-bottom: 5px solid blueviolet;
    padding:20px;
}

.margin {
    margin: 20px;
    font-size: medium;
    font-weight: bold;
}

.box {
    border:5px solid blue;
    width:250px;
    margin:10px;
    padding:20px;
}

/*진성희.html*/

.up {
    background-color: aquamarine;
    font-size: 70px;
    margin: 20px;

}
.down {
    font-size: 50px;
    background-color: burlywood;
    margin: 20px;
}

.grid {
    border-right:1px solid black;
	display:grid;
	grid-template-columns: 150px 1fr;
}

